@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #028090;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004d6c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05668D;
}