<footer id="foot">
    <div id="logoName">
        Home nVentory
    </div>
    <div id="linkContainer">
        <div class="footLink about">
            <div class="sectionHead">ABOUT</div>
            <a href="#">About</a>
            <a href="#">Contact us</a>
            <a href="#">FAQ</a>
            <a href="#">Careers</a>
            <a href="#">Advertise</a>
            <a href="#">Media kit</a>
        </div>
        <div class="footLink subscription">
            <div class="sectionHead">SUBSCRIPTIONS</div>
            <a href="#">Subscribe to company</a>
            <a href="#">Gift company magazine</a>
            <a href="#">Home nVentory+ Subscription Help</a>
            <a href="#">Magazine Subscription Help</a>
        </div>
        <div class="footLink professional">
            <div class="sectionHead">PROFESSIONALS</div>
            <a href="#">Add your home</a>
            <a href="#">Sell your products</a>
            <a href="#">Contribute to Home nVentory</a>
            <a href="#">Promote your work</a>
        </div>
        <div class="footLink follow">
            <div class="sectionHead">FOLLOW</div>
            <a href="#">Instagram</a>
            <a href="#">Pinterest</a>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Flipboard</a>
            <a href="#">Comapany RSS</a>
        </div>
    </div>
    <br>
    <div class="legalContent">
        <div>&copy;<span id="year"></span> Home nVentory, inc. All rights reserved.</div>
        &nbsp;
        <a href="#">Privacy</a>
        &nbsp;|&nbsp;
        <a href="#">Terms</a>
        &nbsp;|&nbsp;
        <a href="#">Sitemap</a>
    </div>
</footer>

</body>
<script>
// window.onload = Scrolldown;

// function Scrolldown() {
//     document.getElementById("year").innerText = new Date().getFullYear();
//     if (${scrollWindow eq true}) {
//         window.scroll(0, 460);
//     }
// }
</script>
<script src="javascript/inventory-navbar.js"></script>
<script src="javascript/overlay.js"></script>
</html>
