<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>myinventory.com</title>
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/navbar.css">
        <link rel="stylesheet" type="text/css" href="css/inventory.css">
    </head>
    <body>
        <section id="headSection">
            <nav id="navbar">
                <a class="navlinks" style="border-bottom: 1.5px solid;" href="inventory">Inventory</a>
                <a class="navlinks" href="/admin">Admin</a>
                <a class="navlinks" href="/login?action=logout">Logout</a>
                <a class="navlinks" href="/account">Account</a>
            </nav>
        </section>