<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Page not found | Home nVentory</title>
        <link rel="stylesheet" type="text/css" href="css/pageNotFound.css">
    </head>
    <body>
        <div class="errorContainer">
            <span class="content">Error 404</span>
            <span class="content">This is not the web page you are looking for.</span>
            <span class="content"><a href="login">Login here</a></span>
        </div>
    </body>
</html>