<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Administrator - HOME nVentory</title>
        <link rel="stylesheet" type="text/css" href="css/navbar.css">
        <link rel="stylesheet" type="text/css" href="css/admin.css">
        <style>
            html{
                overflow-y: scroll;
                overflow-x: hidden;
            }
        </style>
    </head>
    <body>

    <%- include("navbar") -%>

    <div style="transform: translate(5%, 8rem); font-size: 30px;">
        Welcome <%=adminName%>
    </div>

    <div class="container">
        <div class="component component1">
            <a href="/admin?action=users">Manage Users</a>
        </div>
        <div class="component component2">
            <a href="/admin?action=categories">Manage Categories</a>
        </div>
    </div>
    </body>
</html>