<section id="headSection">
    <nav id="navbar">
        <a class="navlinks" style="border-bottom: 1.5px solid;" href="inventory">Inventory</a>
        <a class="navlinks" href="/admin">Admin</a>
        <a class="navlinks" href="/?action=logout">Logout</a>
        <a class="navlinks" href="/account">Account</a>
    </nav>
</section>