.parent{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    padding: 15px 140px; */
}
.container{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: white; */
    /* padding: 20px 85px; */
    /* padding-bottom: 20px; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
}
.formContainer{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.fieldDiv{
    /* padding: 0.5rem 0px; */
}
.fields{
    /* border: 1px solid #a3a5a7; */
    /* border-radius: 20px; */
    /* font-size: 14px; */
    /* padding: 14px 16px;
    width: 20.5rem; */
}
.fields:focus{
    /* outline: none; */
}
.fieldDiv .auth-form-forgotpassword{
    /* text-decoration: none;
    padding: 0;
    color: black;
    border: none; */
}
.inputError{
    border-color: #D4372C;
    box-shadow: 0px 0px 0px 3px #f6d7d5;
}
.btn{
    /* background-color: #2d8cb8;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    line-height: 2.5rem;
    padding: 0;
    width: 20.5rem;
    color: white; */
    /* margin-bottom: 10px; */
    /* transition: 200ms; */
}
.btn:hover{
    /* cursor: pointer; */
    /* background-color: #cf6102; */
}
.links{
    /* text-decoration: none; */
    /* font-size: 14px; */
    /* color: black;
    border: none; */
}
.links span{
    /* color: #2d8cb8; */
}
.warning{
    /* font-weight: bolder;
    font-size: 11px;
    color: red; */
}
.auth-form-help-links{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -40%;
    font-weight: 400;
    font-size: 13px; */
}