.inventory-body-main{
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1181%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1182)'%3e%3c/rect%3e%3cpath d='M 0%2c175 C 128%2c193 384%2c278.6 640%2c265 C 896%2c251.4 1024%2c102 1280%2c107 C 1536%2c112 1792%2c253.4 1920%2c290L1920 1080L0 1080z' fill='rgba(206%2c 127%2c 243%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c686 C 96%2c626 288%2c380.6 480%2c386 C 672%2c391.4 768%2c700.4 960%2c713 C 1152%2c725.6 1248%2c460.4 1440%2c449 C 1632%2c437.6 1824%2c614.6 1920%2c656L1920 1080L0 1080z' fill='rgba(176%2c 51%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c990 C 128%2c968.8 384%2c900.4 640%2c884 C 896%2c867.6 1024%2c939.8 1280%2c908 C 1536%2c876.2 1792%2c761.6 1920%2c725L1920 1080L0 1080z' fill='rgba(154%2c 8%2c 183%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1181'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1182'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(114%2c 0%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1193%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1194)'%3e%3c/rect%3e%3cpath d='M 0%2c175 C 128%2c193 384%2c278.6 640%2c265 C 896%2c251.4 1024%2c102 1280%2c107 C 1536%2c112 1792%2c253.4 1920%2c290L1920 1080L0 1080z' fill='rgba(2%2c 128%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c686 C 96%2c626 288%2c380.6 480%2c386 C 672%2c391.4 768%2c700.4 960%2c713 C 1152%2c725.6 1248%2c460.4 1440%2c449 C 1632%2c437.6 1824%2c614.6 1920%2c656L1920 1080L0 1080z' fill='rgba(69%2c 240%2c 223%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c990 C 128%2c968.8 384%2c900.4 640%2c884 C 896%2c867.6 1024%2c939.8 1280%2c908 C 1536%2c876.2 1792%2c761.6 1920%2c725L1920 1080L0 1080z' fill='rgba(5%2c 102%2c 141%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1193'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1194'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(5%2c 102%2c 141%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1195%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1196)'%3e%3c/rect%3e%3cpath d='M 0%2c175 C 128%2c193 384%2c278.6 640%2c265 C 896%2c251.4 1024%2c102 1280%2c107 C 1536%2c112 1792%2c253.4 1920%2c290L1920 1080L0 1080z' fill='rgba(2%2c 128%2c 144%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c686 C 96%2c626 288%2c380.6 480%2c386 C 672%2c391.4 768%2c700.4 960%2c713 C 1152%2c725.6 1248%2c460.4 1440%2c449 C 1632%2c437.6 1824%2c614.6 1920%2c656L1920 1080L0 1080z' fill='rgba(0%2c 205%2c 184%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c990 C 128%2c968.8 384%2c900.4 640%2c884 C 896%2c867.6 1024%2c939.8 1280%2c908 C 1536%2c876.2 1792%2c761.6 1920%2c725L1920 1080L0 1080z' fill='rgba(5%2c 102%2c 141%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1195'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1196'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(5%2c 102%2c 141%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
}
table.tableCSS tbody tr td, table.tableCSS tbody tr th{
    width: 10rem;
}
.field{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 244px;
    text-align: center;
    border-radius: 6px;
    outline: none;
    border: 1px solid #dddfe2;
}
.submitBtn{
    background-color: #2d8cb8;
    color: white;
    width: 244px;
    padding: 10px 106px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .inventory-body-content {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .inventory-body-list-left {
        width: 100vw;
        margin: 0 0 2rem 0;
    }
    .inventory-body-forms{
        margin: 0 2rem 0 2rem;
        padding: 2rem 3rem 2rem 3rem;
    }
    table.tableCSS {
        margin: 1rem;
    }
    .field{
        font-size: 16px;
    }
}
