/* Footer */
#foot{
    /* background-color: #0d1117; */
    background-color: #041c1c;
    padding: 2rem 0rem;
}
#logoName{
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
}
#linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2rem;
}
.footLink{
    display: flex;
    flex-direction: column;
}
.sectionHead{
    color: rgb(116, 116, 116);
    text-decoration: underline;
}
.footLink a{
    text-decoration: none;
    color: rgb(192, 192, 192);
    padding: 5px 0px;
}
.legalContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(116, 116, 116);
    margin-left: 2rem;
}
.legalContent a{
    text-decoration: none;
    color: rgb(192, 192, 192);
}

@media screen and (max-width: 767px) {
    #linkContainer{
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
    }
    .footLink{
        padding: 1rem 0;
    }
    .follow{
        flex-direction: row;
    }
    .follow a{
        padding: 1rem;
    }
}